@model RentACar.Models.CarDetailsViewModel

<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- subheader -->
    <section id="subheader" class="jarallax text-light">
        <img src="images/background/2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>@Model.Name</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- car details section -->
    <section id="section-car-details">
        <div class="container">
            <div class="row g-5">

                <!-- Left side: Carousel -->
                <div class="col-lg-6">
                    <div id="slider-carousel" class="owl-carousel">
                        <!-- Main image -->
                        <!-- Əsas şəkil -->
                        <a href="~/images/car/@Model.ImageUrl" data-lightbox="car-gallery">
                            <img src="~/images/car/@Model.ImageUrl" class="img-fluid mb-3" alt="@Model.Name" />
                        </a>

                        <!-- Əlavə şəkillər -->
                        <div class="d-flex flex-wrap gap-2">
                            @foreach (var img in Model.AdditionalImageUrls)
                            {
                                <a href="~/images/car/@img" data-lightbox="car-gallery">
                                    <img src="~/images/car/@img" class="img-thumbnail" style="width:100px;" alt="Car image" />
                                </a>
                            }
                        </div>


                    </div>
                </div>

                <!-- Middle: Description and specs -->
                <div class="col-lg-3">
                    <h3>@Model.Name</h3>
                    <p>@Model.Description</p>

                    <div class="spacer-10"></div>
                    <h4>Specifications</h4>
                    <div class="de-spec">
                        <!-- Bura öz spec-lərin varsa, əlavə edə bilərsən -->
                        <div class="d-row">
                            <span class="d-title">Price Per Day</span>
                            <span class="d-value">$@Model.PricePerDay</span>
                        </div>
                        <!-- Misal üçün əlavə rows -->
                    </div>
                </div>

                <!-- Right side: Booking panel -->
                <div class="col-lg-3">
                    <div class="de-price text-center">
                        Daily rate
                        <h3>$@Model.PricePerDay</h3>
                    </div>

                    <div class="spacer-30"></div>

                    <div class="de-box text-light mb25">
                        <form name="contactForm" id="contact_form" method="post">
                            <h4>Booking this car</h4>
                            <div class="spacer-20"></div>

                            <!-- Example inputs -->
                            <div class="col-lg-12 mb20">
                                <h5>Pick Up Location</h5>
                                <input type="text" name="PickupLocation" class="form-control" placeholder="Enter your pickup location" />
                            </div>

                            <div class="col-lg-12 mb20">
                                <h5>Drop Off Location</h5>
                                <input type="text" name="DropoffLocation" class="form-control" placeholder="Enter your dropoff location" />
                            </div>

                            <!-- Date pickers, time dropdowns -->
                            <div class="col-lg-12 mb20">
                                <h5>Pick Up Date & Time</h5>
                                <div class="date-time-field">
                                    <input type="text" id="date-picker" name="PickUpDate" value="" />
                                    <select name="PickUpTime" id="pickup-time">
                                        <option value="">Select Time</option>
                                        @for (int hour = 0; hour < 24; hour++)
                                        {
                                            <option value="@($"{hour:D2}:00")">@($"{hour:D2}:00")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-lg-12 mb20">
                                <h5>Return Date & Time</h5>
                                <div class="date-time-field">
                                    <input type="text" id="date-picker-2" name="ReturnDate" value="" />
                                    <select name="ReturnTime" id="return-time">
                                        <option value="">Select Time</option>
                                        @for (int hour = 0; hour < 24; hour++)
                                        {
                                            <option value="@($"{hour:D2}:00")">@($"{hour:D2}:00")</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <input type='submit' id='send_message' value='Book Now' class="btn-main btn-fullwidth" />
                        </form>
                    </div>

                    <div class="de-box">
                        <h4>Share</h4>
                        <div class="de-color-icons">
                            <span><i class="fa fa-twitter fa-lg"></i></span>
                            <span><i class="fa fa-facebook fa-lg"></i></span>
                            <span><i class="fa fa-whatsapp fa-lg"></i></span>
                            <span><i class="fa fa-envelope fa-lg"></i></span>
                        </div>
                    </div>
                </div> <!-- End right panel -->

            </div>
        </div>
    </section>
</div>

<a href="#" id="back-to-top"></a>
