 @model RentACar.Models.CarsViewModel

<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>

    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
        <img src="images/background/2.jpg" class="jarallax-img" alt="">
        <div class="center-y relative text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>Cars</h1>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <!-- section close -->

    <section id="section-cars">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="item_filter_group">
                        <h4>Search bar</h4>
                        <div class="de_form">
                            <input placeholder="search" id="search-input">
                        </div>
                    </div>
                    <div class="item_filter_group">
                        <h4>Car Body Type</h4>
                        <div class="de_form">
                            <div class="item_filter_group">
                                <h4>Car Body Type</h4>
                                <div class="de_form">
                                    @foreach (var bodyType in Model.Categories)
                                    {
                                        <div class="de_checkbox">
                                            <input id="car_body_type_@bodyType.Id"
                                                   name="car_body_type"
                                                   type="checkbox"
                                                   class="filter-checkbox"
                                                   value="@bodyType.Id" />
                                            <label for="car_body_type_@bodyType.Id">@bodyType.Name</label>
                                        </div>
                                    }
                                </div>
                            </div>


                        </div>
                    </div>                    

                    <div class="item_filter_group">
                        <h4>Price ($)</h4>
                        <div class="price-input">
                            <div class="field">
                                <span>Min</span>
                                <input type="number" class="input-min" value="0">
                            </div>
                            <div class="field">
                                <span>Max</span>
                                <input type="number" class="input-max" value="2000">
                            </div>
                        </div>
                        <div class="slider">
                            <div class="progress"></div>
                        </div>
                        <div class="range-input">
                            <input type="range" class="range-min" min="0" max="2000" value="0" step="1">
                            <input type="range" class="range-max" min="0" max="2000" value="2000" step="1">
                        </div>
                    </div>
                </div>

                <div class="col-lg-9">
                    <div class="row">
                        @foreach(var item in Model.Cars)
                        {
                            <div class="col-xl-4 col-lg-6">
                                <div class="de-item mb30">
                                    <div class="d-img">
                                        <img src="images/car/@item.ImageUrl" class="img-fluid" alt="">
                                    </div>
                                    <div class="d-info">
                                        <div class="d-text">
                                            <h4>@item.Name</h4>
                                            <div class="d-item_like">
                                                <i class="fa fa-heart"></i><span>25</span>
                                            </div>
                                            <div class="d-atr-group">
                                                <span class="d-atr"><img src="images/icons/1-green.svg" alt="">@item.Seats</span>
                                                <span class="d-atr"><img src="images/icons/2-green.svg" alt="">@item.Luggage</span>
                                                <span class="d-atr"><img src="images/icons/3-green.svg" alt="">@item.Doors</span>
                                                <span class="d-atr"><img src="images/icons/4-green.svg" alt="">@item.Category?.Name</span>                                               
                                             </div>
                                        <div class="d-price">
                                            Daily rate from <span>$@item.PricePerDay</span>
                                                <a href="/Booking/QuickBooking?carId=@item.Id" class="btn-main">Rent Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>                           
                        }                    
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- content close -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkboxes = document.querySelectorAll(".filter-checkbox");
        const searchInput = document.getElementById("search-input");
        const rangeMin = document.querySelector(".range-min");
        const rangeMax = document.querySelector(".range-max");

        checkboxes.forEach(cb => cb.addEventListener("change", filterCars));
        searchInput.addEventListener("input", debounce(filterCars, 300));
        rangeMin.addEventListener("input", filterCars);
        rangeMax.addEventListener("input", filterCars);

        function filterCars() {
            const selectedBodyTypes = Array.from(checkboxes)
                .filter(cb => cb.checked)
                .map(cb => parseInt(cb.value));

            const keyword = searchInput.value.trim();
            const minPrice = parseFloat(rangeMin.value);
            const maxPrice = parseFloat(rangeMax.value);

            const data = {
                bodyTypes: selectedBodyTypes,
                searchKeyword: keyword,
                minPrice: minPrice,
                maxPrice: maxPrice
            };

            fetch("/Car/Filter", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify(data)
            })
            .then(res => res.text())
            .then(html => {
                document.querySelector(".col-lg-9 .row").innerHTML = html;
            });
        }

        // debounce funksiyası: yazı yazarkən hər hərfdə deyil, 300ms sonra filter işləsin
        function debounce(fn, delay) {
            let timeoutId;
            return function (...args) {
                clearTimeout(timeoutId);
                timeoutId = setTimeout(() => fn.apply(this, args), delay);
            };
        }
    });
</script>


<a href="#" id="back-to-top"></a> 